<div class="top-page">
  <h2>ようこそ！わたしのブログへ</h2>
  <p>プログラミング学習を仲間とシェアする場所です。</p>
  <div class="flex justify-center gap-6">
    <%= link_to "投稿一覧へ", posts_path, class: "btn bg-[#f99695] text-white hover:bg-[#676f74]" %>
    <%= link_to "プロフィールへ", profile_path, class: "btn bg-[#F0E68C] text-[#676f74] hover:bg-[#f99695]" %>
    <%= link_to "ポートフォリオへ", portfolios_path, class: "btn bg-[#8edae5] text-[#676f74] hover:bg-[#f99695]" %>
  </div>
</div>
